@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    //border: solid 2px orangered;
    width: 100%;
    height: 20vh;
    background-color: #F3F5F8;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .caixaLogo {
        //border: solid 2px ;
        //background-color: wheat;
        display: flex;
        justify-content: space-evenly;
        width: 20%;
        align-items: center;

        h1 {
            //margin-left: 10px;
            font-size: 2rem;
            font-weight: bold;
        }
    }


    nav {
        //border: solid blue;
        //background: violet;
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        align-items: center;

        a {
            //background-color: #04c9b8;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 400;
            color: #4B5563;
        }
    }

    .btnVerdeHeader {
        background-color: #21C05C;
        color: #FFFFFF;
        font-size: 1rem;
        padding: 18px;
        border-radius: 10px;
        cursor: pointer;
    }
}

.primeiraSection {
    //background-color: red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

    section {
        // margin-left: 20px;
        //background-color: #f107b7;
        //border: solid green;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;


        h2 {
            //background-color: #F3F5F8;
            font-size: 3.75rem;
            font-weight: 700;
            //border: solid 2px rgb(9, 12, 199);
            width: 80%;
            margin-left: 50px;
        }

        p {
            font-size: 1.25rem;
            font-weight: 400;
            color: #4B5563;
            width: 75%;
            //background-color: aqua;
            margin-left: 50px;
        }
    }


}

.boxBtnsPrimeiraSection {

    //border: solid purple;
    //background-color: rgba(20, 13, 121, 0.856);
    width: 60%;
    display: flex;
    justify-content: space-around;

    button {
        cursor: pointer;
        padding: 30px 40px;
        border-radius: 5px;
        height: 10vh;

    }
}



.btnVerde {
    background-color: #21C05C;
    color: #FFFFFF;
    border-style: none;
}

.btnBranco {
    background-color: #FFFFFF;
    color: #2563EB;
    border-color: #2563EB;
}

.dadosNumericos {
    background-color: #f3f5f8;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 35vh;

    div {
        //border: solid;
        width: 15%;
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2 {
            color: #16A34A;
            font-size: 2rem;
        }

        p{
            font-size: 1rem;
        }

    }
}

.sectionComoFunciona{
    background-color: #F0FDF4;
    //padding-left: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h3{
        font-size: 2.5rem;
    }

    p{
        font-size: 1.5rem;
    }
}

.divComoFunciona{
    border: solid 2px yellow;
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: space-around;

}

.sectionArticle {
    height: 50%;
    border: solid 2px red;
    display: flex;
    justify-content: space-evenly;
}

.cardsArticle{
    border: solid 2px;
    background-color: #F3F5F8;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;

    p{
        font-size: 1rem;
    }

    ul{
        font-size: 1rem;
        font-weight: 700;
    }
   
}

.subtitulosArticle {
    display: flex;

    .doadores {
        font-size: 1.5rem;
        color: #16A34A;
    }

    .adquirentes{
        font-size: 1.5rem;
        color: #2563EB;
    }
}