@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    //border: solid 2px orangered;
    width: 100%;
    height: 20vh;
    background-color: #F3F5F8;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .caixaLogo {
        //border: solid 2px ;
        //background-color: wheat;
        display: flex;
        justify-content: space-evenly;
        width: 20%;
        align-items: center;

        h1 {
            //margin-left: 10px;
            font-size: 2rem;
            font-weight: bold;
        }
    }


    nav {
        //border: solid blue;
        //background: violet;
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        align-items: center;

        a {
            //background-color: #04c9b8;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 400;
            color: #4B5563;
        }
    }

    .btnVerdeHeader {
        background-color: #21C05C;
        color: #FFFFFF;
        font-size: 1rem;
        padding: 18px;
        border-radius: 10px;
        cursor: pointer;
    }
}

.primeiraSection {
    border: solid red;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;

    section {
        background-color: #f107b7;
        border: solid green;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        

        h2 {
            //background-color: #F3F5F8;
            font-size: 1rem;
            font-weight: 700;
            width: 50%;
            border: solid 2px rgb(9, 12, 199);
        }

        p {
            font-size: 1.25rem;
            background-color: aqua;
            width: 80%;
            border: solid #ffee00;
        }
    }
}

.boxBtnsPrimeiraSection {

    border: solid purple;
    background-color: #4B55;
    width: 50%;
    display: flex;
    justify-content: space-around;

    button {
        cursor: pointer;
        padding: 30px 40px;
    }
}